# File based on: https://github.com/github/gitignore

# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Common IDEs
.idea/
.vscode/

# Output dirs
build/
dist/

# Debuild transient files and folders
debian/*.substvars
debian/debhelper-build-stamp
debian/files
debian/.debhelper/
debian/wx*/
obj-*/

# Windows resource files
*.res
