# File based on:
# https://github.com/github/gitignore

##############################
# C++
##############################
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.o
*.obj
*.out
*.pch
*.slo
*.so

##############################
# IDE
##############################
.idea

##############################
# CMake
##############################
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
