<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="frmMain">
		<centered>1</centered>
		<size>763,450</size>
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>8,16</pos>
			<object class="wxBoxSizer" variable="BoxMain" member="no">
				<orient>wxVERTICAL</orient>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxNormalVolume" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
								<label>Target &quot;Normal&quot; volume:</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="txtNormalVolume" member="yes">
								<maxlength>5</maxlength>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
								<label>dB. (Default 89.0 dB)</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
					<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxConstantGain" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
								<label>Using constant gain: </label>
							</object>
							<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT4" variable="lblConstantGain" member="yes">
								<label></label>
							</object>
							<flag>wxTOP|wxBOTTOM|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
				</object>
				<object class="sizeritem">
					<object class="wxListCtrl" name="ID_LISTCTRL2" variable="lstFiles" member="yes">
						<style>wxLC_REPORT</style>
						<handler function="OnlstFilesDeleteItem" entry="EVT_LIST_DELETE_ITEM" />
						<handler function="OnlstFilesClick" entry="EVT_LIST_ITEM_SELECTED" />
						<handler function="OnlstFilesClick" entry="EVT_LIST_ITEM_DESELECTED" />
						<handler function="OnlstFilesItemRClick" entry="EVT_LIST_ITEM_RIGHT_CLICK" />
						<handler function="OnlstFilesInsertItem" entry="EVT_LIST_INSERT_ITEM" />
					</object>
					<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="yes">
			<object class="wxMenu" variable="Menu2" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENUITEM17" variable="MenuItem17" member="yes">
					<label>Add folder</label>
					<handler function="mnuAddDirectory" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem2" member="no">
					<label>Add files</label>
					<handler function="mnuAddFiles" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="no">
					<label>Exit</label>
					<handler function="mnuExit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="no">
				<label>&amp;Edit</label>
				<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem3" member="no">
					<label>Remove files</label>
					<handler function="mnuRemoveFiles" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem4" member="no">
					<label>Clear list</label>
					<handler function="mnuClearList" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM6" variable="MenuItem6" member="no">
					<label>Settings</label>
					<handler function="mnuSettings" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu6" member="yes">
				<label>&amp;Analysis</label>
				<object class="wxMenuItem" name="ID_MENUITEM14" variable="MenuItem14" member="yes">
					<label>Track Analysis</label>
					<accel>Ctrl+T</accel>
					<handler function="mnuScan" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM15" variable="MenuItem15" member="yes">
					<label>Clear Analysis</label>
					<handler function="mnuClearAnalysis" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu7" member="yes">
				<label>&amp;Gain</label>
				<object class="wxMenuItem" name="ID_MENUITEM16" variable="MenuItem16" member="yes">
					<label>Track Gain</label>
					<accel>Ctrl+G</accel>
					<handler function="mnuFix" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM7" variable="MenuItem7" member="yes">
					<label>Undo gain changes (based on stored tag info)</label>
					<accel>Ctrl+Z</accel>
					<handler function="mnuUndoGain" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM8" variable="MenuItem8" member="yes">
					<label>Delete stored tag info</label>
					<handler function="mnuRemoveTags" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu5" member="no">
				<label>&amp;Help</label>
				<object class="wxMenuItem" name="ID_MENUITEM10" variable="MenuItem12" member="yes">
					<label>MP3gain Website</label>
					<handler function="mnuToolWebsite" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM11" variable="MenuItem13" member="yes">
					<label>wxMP3gain Website</label>
					<handler function="mnuWebsite" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENUITEM9" variable="MenuItem9" member="no">
					<label>About</label>
					<handler function="mnuAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>2</fields>
			<widths>-10,-10</widths>
			<styles>wxSB_NORMAL,wxSB_NORMAL</styles>
			<style>wxST_SIZEGRIP</style>
		</object>
		<object class="wxToolBar" name="ID_TOOLBAR1" variable="ToolBar1" member="yes">
			<style>wxTB_FLAT|wxTB_HORIZONTAL|wxTB_TEXT|wxNO_BORDER</style>
			<object class="tool" name="ID_TOOLBARITEM8" variable="ToolBarItem1" member="yes">
				<label>Add folder</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuAddDirectory" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="ID_TOOLBARITEM1" variable="ToolBarItem2" member="yes">
				<label>Add files</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuAddFiles" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="ID_TOOLBARITEM2" variable="ToolBarItem3" member="yes">
				<label>Remove files</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuRemoveFiles" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="ID_TOOLBARITEM3" variable="ToolBarItem4" member="yes">
				<label>Clear list</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuClearList" entry="EVT_TOOL" />
			</object>
			<object class="separator" />
			<object class="tool" name="ID_TOOLBARITEM4" variable="ToolBarItem5" member="yes">
				<label>Analysis</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuScan" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="ID_TOOLBARITEM5" variable="ToolBarItem6" member="yes">
				<label>Gain</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuFix" entry="EVT_TOOL" />
			</object>
			<object class="separator" />
			<object class="tool" name="ID_TOOLBARITEM6" variable="ToolBarItem7" member="yes">
				<label>Settings</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuSettings" entry="EVT_TOOL" />
			</object>
			<object class="tool" name="ID_TOOLBARITEM7" variable="ToolBarItem8" member="yes">
				<label>About</label>
				<bitmap stock_id="wxART_QUESTION" />
				<handler function="mnuAbout" entry="EVT_TOOL" />
			</object>
		</object>
		<object class="wxMenu" variable="Menu1" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM18" variable="MenuItem18" member="yes">
				<label>Add folder</label>
				<handler function="mnuAddDirectory" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM5" variable="MenuItem5" member="no">
				<label>Add files</label>
				<handler function="mnuAddFiles" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM12" variable="MenuItem10" member="no">
				<label>Remove files</label>
				<handler function="mnuRemoveFiles" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM13" variable="MenuItem11" member="no">
				<label>Clear list</label>
				<handler function="mnuClearList" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>
