[Desktop Entry]
Name=wxMP3gain
Comment=A free front-end for the MP3gain.
Exec=wxmp3gain
Icon=wxmp3gain
Categories=AudioVideo;Audio;
Terminal=false
Type=Application
