Source: wxmp3gain
Section: sound
Priority: optional
Maintainer: Cristiano Fraga G. Nunes <cfgnunes@gmail.com>
Build-Depends: debhelper (>= 9), libwxgtk3.0-dev
Standards-Version: 3.9.5
Homepage: https://github.com/cfgnunes/wxmp3gain

Package: wxmp3gain
Architecture: any
Depends:  ${shlibs:Depends}, ${misc:Depends}, mp3gain (>= 1.5.1)
Description: Free front-end for the MP3gain
 wxMP3gain is a free front-end for the MP3gain.
