name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up git repository
        uses: actions/checkout@v2.4.0

      - name: Install dependencies
        run: |
          sudo apt -y install devscripts
          sudo apt -y install debhelper
          sudo apt -y install build-essential
          sudo apt -y install cmake
          sudo apt -y install libwxgtk3.0-gtk3-dev

      - name: Build the project
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Coverage ..
          make
          sudo make install
          sudo debuild -us -uc
